.card {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 150px;
  border-radius: 8px;
}

.container__item {
  display: flex;
  width: 93%;
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
}

.container__vote {
  display: flex;
  flex-direction: column;
  width: 35px;
  background-color: whitesmoke;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  margin-right: 20px;
}

.label__display {
  color: hsl(238, 40%, 52%);
  font-weight: bold;
}

.up:hover {
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}

.down:hover {
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}

.container__items {
  position: relative;
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
}

.avatar {
  width: 35px;
  height: 35px;
}

.name__avatar {
  margin: 0 15px;
  color: hsl(212, 24%, 26%);
  font-weight: bold;
}

.container__you {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 16px;
  background-color: #5457b6;
  align-items: center;
  border-radius: 2px;
  margin-right: 10px;
}

.label__you {
  color: white;
  font-weight: bold;
  font-size: 10px;
}

.data {
  color: hsl(211, 10%, 45%);
  font-size: 14px;
}

.reply,
.edit {
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    cursor: pointer;
    .label__reply,
    .label__edit {
      color: hsl(239, 57%, 85%);
    }
  }
}

.logo__delete,
.logo__edit {
  margin-right: 7px;
}

.label__delete {
  color: red;
  font-weight: bold;
}

.label__edit {
  color: #5457b6;
  font-weight: bold;
}

.delete {
  position: absolute;
  right: 70px;
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    cursor: pointer;
    .label__delete {
      color: hsl(14, 74%, 60%);
    }
  }
}

.label__reply {
  margin-left: 10px;
  color: hsl(238, 40%, 52%);
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.container__description {
  display: flex;
  width: 100%;
}

.description {
  margin-top: 15px;
  width: 100%;
  color: hsl(211, 10%, 45%);
}

// REPLY

.--reply {
  width: 535px;
  margin-left: 60px;
}

.label__chiocciola {
  color: hsl(238, 40%, 52%);
  font-weight: bold;
}

// Add Comment
.container__add__comment {
  display: flex;
  background-color: white;
  border-radius: 8px;
}

.logo__avatar__current__user {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

textarea {
  border-radius: 4px;
  max-width: 374px;
  min-width: 374px;
  min-height: 75px;
  padding: 10px;

  &:focus {
    border: 2px solid #5457b6;
    outline: none;
  }
}

button {
  border-radius: 8px;
  border: 0;
  width: 85px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(238, 40%, 52%);
  color: white;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}

.container__reply {
  width: 100%;
  background: white;
  border-radius: 8px;
  margin-bottom: 15px;
}

.--width {
  background-color: initial;
}

.textareaReply {
  border-radius: 4px;
  max-width: 311px;
  min-width: 311px;
  min-height: 75px;
  padding: 10px;
}

.update {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.textarea__edit {
  max-width: 421px;
  min-width: 421px;
}

@media screen and (max-width: 450px) {
  .card {
    width: 95%;
    margin: 0 auto;
  }
  .container__items {
    position: initial;
  }
  .container__item {
    position: relative;
    padding: 10px;
    margin: 0 auto 15px auto;
  }
  .down {
    display: flex;
    align-items: center;
    margin-top: 1px;
  }
  .container__vote {
    flex-direction: row;
    position: absolute;
    bottom: 8px;
    left: 10px;
    width: 120px;
    height: 35px;
  }
  .reply,
  .edit {
    height: 40px;
    bottom: 7px;
    right: 11px;
  }
  .delete {
    bottom: 7px;
    right: 80px;
    height: 40px;
  }
  .description {
    margin: 15px 0 50px 0px;
  }
  .--reply {
    width: 95% !important;
    margin-right: 0px !important;
  }

  // AddComment
  .logo__avatar__current__user {
    flex-direction: column;
    position: relative;
  }

  .container__image__avatar__current {
    position: absolute;
    bottom: 0;
  }

  .button__send {
    justify-content: flex-end;
    width: 100%;
    display: flex;
  }

  textarea {
    min-width: 93%;
  }

  .textareaReply {
    padding: 10px 0px;
    margin-left: -5px;
  }

  .add__comment {
    margin-bottom: 20px;
  }
}
