<!-- Card -->
<div class="card" *ngFor="let a of allData">
  <div class="container__item">
    <!-- Vote -->
    <div class="container__vote">
      <div class="up">
        <img src="./../../../../assets/interactive-comments-section-main/images/icon-plus.svg" alt="icon plus">
      </div>
      <div class="display">
        <span class="label__display">{{a.score}}</span>
      </div>
      <div class="down">
        <img src="./../../../../assets/interactive-comments-section-main/images/icon-minus.svg" alt="icon minus">
      </div>
    </div>
    <div class="container">
      <div class="container__items">
        <img class="avatar" src={{a.user.image.png}} alt="avatar">
        <div class="name__avatar">{{a.user.username}}</div>
        <!-- Logo you -->
        <div class="container__you" *ngIf="a.user.username == currentUser">
          <span class="label__you">you</span>
        </div>
        <div class="data">{{a.createdAt}}</div>
        <!-- Logo Reply -->
        <div class="reply" *ngIf="a.user.username !== currentUser" (click)="onClickReply(a.id, a.user.username)">
          <img class="logo__reply" src="./../../../../assets/interactive-comments-section-main/images/icon-reply.svg"
            alt="logo reply">
          <span class="label__reply">Reply</span>
        </div>
        <!-- Logo Delete -->
        <div class="delete" *ngIf="a.user.username == currentUser" (click)="onClickDelete(a.id, a.user.username, a.id)">
          <img class="logo__delete" src="./../../../../assets/interactive-comments-section-main/images/icon-delete.svg"
            alt="logo delete">
          <span class="label__delete">Delete</span>
        </div>
        <!-- Logo Edit -->
        <div class="edit" *ngIf="a.user.username == currentUser" (click)="onClickEdit(a.id, a.user.username)">
          <img class="logo__edit" src="./../../../../assets/interactive-comments-section-main/images/icon-edit.svg"
            alt="logo edit">
          <span class="label__edit">Edit</span>
        </div>
        <div class="reply" *ngIf="a.user.username !== currentUser" (click)="onClickReply(a.id, a.user.username)">
          <img class="logo__reply" src="./../../../../assets/interactive-comments-section-main/images/icon-reply.svg"
            alt="logo reply">
          <span class="label__reply">Reply</span>
        </div>
      </div>
      <!-- Description -->
      <div class="container__description">
        <span class="description">{{a.content}} </span>
      </div>
    </div>
  </div>

  <!-- On Click Reply -->
  <div class="container__add__comment --width" *ngIf="showReply && a.id === idReply">
    <div class="container__reply">
      <div class="logo__avatar__current__user">
        <div class="container__image__avatar__current">
          <img class="avatar" src="{{imageUser}}" alt="avatar current user">
        </div>
        <div class="add__comment">
          <textarea #text rows="5" placeholder="Add a comment..." [value]="'@' + usernameReply + ', ' "></textarea>
        </div>
        <div class="button__send" (click)="submitReply(imageUser, currentUser, text.value, usernameReply)">
          <button>REPLY</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Comment -->
  <div class="card --reply" *ngFor="let b of a.replies">
    <div class="container__item">
      <!-- Vote -->
      <div class="container__vote">
        <div class="up">
          <img src="./../../../../assets/interactive-comments-section-main/images/icon-plus.svg" alt="icon plus">
        </div>
        <div class="display">
          <span class="label__display">{{b.score}}</span>
        </div>
        <div class="down">
          <img src="./../../../../assets/interactive-comments-section-main/images/icon-minus.svg" alt="icon minus">
        </div>
      </div>
      <div class="container">
        <div class="container__items">
          <img class="avatar" src={{b.user.image.png}} alt="avatar">
          <div class="name__avatar">{{b.user.username}}</div>
          <!-- Logo you -->
          <div class="container__you" *ngIf="b.user.username == currentUser">
            <span class="label__you">you</span>
          </div>
          <div class="data">{{b.createdAt}}</div>
          <!-- Logo Reply -->
          <div class="reply" *ngIf="b.user.username !== currentUser"
            (click)="onClickReplyComments(b.id, b.user.username, a.id)">
            <img class="logo__reply" src="./../../../../assets/interactive-comments-section-main/images/icon-reply.svg"
              alt="logo reply">
            <span class="label__reply">Reply</span>
          </div>
          <!-- Logo Delete -->
          <div class="delete" *ngIf="b.user.username == currentUser" (click)="onClickDelete(b.id, b.user.username, a.id)">
            <img class="logo__delete"
              src="./../../../../assets/interactive-comments-section-main/images/icon-delete.svg" alt="logo delete">
            <span class="label__delete">Delete</span>
          </div>
          <!-- Logo Edit -->
          <div class="edit" *ngIf="b.user.username == currentUser" (click)="onClickEdit(b.id, b.user.username)">
            <img class="logo__edit" src="./../../../../assets/interactive-comments-section-main/images/icon-edit.svg"
              alt="logo edit">
            <span class="label__edit">Edit</span>
          </div>
        </div>
        <!-- Description -->
        <div class="container__description">
          <span class="description">
            <span class="label__chiocciola">@{{b.replyingTo}}</span>
            {{b.content}}
          </span>
        </div>
      </div>
    </div>

    <!-- On Click Reply -->
    <div class="container__add__comment --width" *ngIf="showReplyComments && a.id == idReplyComments">
      <div class="container__reply">
        <div class="logo__avatar__current__user">
          <div class="container__image__avatar__current">
            <img class="avatar" src="{{imageUser}}" alt="avatar current user">
          </div>
          <div class="add__comment">
            <textarea class="textareaReply" #text rows="5" placeholder="Add a comment..."
              [value]="'@' + usernameReplyComments + ', ' "></textarea>
          </div>
          <div class="button__send" (click)="submitReply(imageUser, currentUser, text.value, usernameReplyComments)">
            <button>REPLY</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Comment -->
<div class="container__add__comment">
  <div class="logo__avatar__current__user">
    <div class="container__image__avatar__current">
      <img class="avatar" src="{{imageUser}}" alt="avatar current user">
    </div>
    <div class="add__comment">
      <textarea #text rows="5" placeholder="Add a comment..."></textarea>
    </div>
    <div class="button__send" (click)="submit(imageUser, currentUser, text.value)">
      <button>SEND</button>
    </div>
  </div>
</div>
