.section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto;
  flex-wrap: wrap;
  align-content: center;
}

.card {
  display: flex;
  width: 600px;
  min-height: 150px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 15px;
}

.container__item {
  display: flex;
  width: 92%;
  margin: 20px auto;
}

.container__vote {
  display: flex;
  flex-direction: column;
  width: 35px;
  background-color: whitesmoke;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
  margin-right: 20px;
}

.label__display {
  color: hsl(238, 40%, 52%);
  font-weight: bold;
}

.up:hover {
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}

.down:hover {
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}

.container__items {
  position: relative;
  display: flex;
  width: 100%;
  height: 35px;
  align-items: center;
}

.avatar {
  width: 35px;
  height: 35px;
}

.name__avatar {
  margin: 0 15px;
  color: hsl(212, 24%, 26%);
  font-weight: bold;
}

.data {
  color: hsl(211, 10%, 45%);
  font-size: 14px;
}

.reply {
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    cursor: pointer;
    .label__reply {
      color: hsl(239, 57%, 85%);
    }
  }
}

.label__reply {
  margin-left: 10px;
  color: hsl(238, 40%, 52%);
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
}

.container__description {
  display: flex;
  width: 100%;
}

.description {
  margin-top: 15px;
  color: hsl(211, 10%, 45%);
}


// REPLY

.--reply {
  width: 550px;
  margin-left: 50px;
}

.label__chiocciola {
  color: hsl(238, 40%, 52%);
  font-weight: bold;
}


@media screen and (max-width: 450px) {
  .card {
    width: 95%;
    margin: 0 auto 15px auto;
  }
  .container__items {
    position: initial;
  }
  .container__item {
    position: relative;
  }
  .down {
    display: flex;
    align-items: center;
    margin-top: 1px;
  }
  .container__vote {
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 35px;
  }
  .reply {
    height: 40px;
    bottom: 0;
  }
  .description {
    margin: 15px 0 50px 0px;
  }
  .--reply {
    width: 90% !important;
    margin-right: 10px !important;
  }
}
