<div class="container__card">
  <div class="card">
    <div class="container__item">
      <!-- Vote -->
      <div class="container__vote">
        <div class="up">
          <img src="./../../../../assets/interactive-comments-section-main/images/icon-plus.svg" alt="icon plus">
        </div>
        <div class="display">
          <span class="label__display">0</span>
        </div>
        <div class="down">
          <img src="./../../../../assets/interactive-comments-section-main/images/icon-minus.svg" alt="icon minus">
        </div>
      </div>
      <!-- Person -->
      <div class="container__items">
        <img class="avatar"
          src="./../../../../assets/interactive-comments-section-main/images/avatars/image-amyrobson.png" alt="">
        <div class="name__avatar">amyrobson</div>
        <div class="data">1 month ago</div>
        <div class="reply" (click)="onClickReply()">
          <img class="logo__reply" src="./../../../../assets/interactive-comments-section-main/images/icon-reply.svg"
            alt="logo reply">
          <span class="label__reply">Reply</span>
        </div>
      </div>
    </div>
  </div>
</div>
